<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Delete a user</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create">Create Users</a>
        </div>
        <H1>CONFIRM DELETE A USER</H1>

        <div class="form-add-new">
            <form action="/delete-user" method="POST">
                <fieldset>
                    <legend>Delete a user</legend>
                    <input
                        type="hidden"
                        id="id"
                        value="<%= user.id %>"
                        name="userId"
                    />
                    <div class="input-group">
                        <label for="email">Are you sure to delete this user with Email:</label>
                        <input
                            type="email"
                            id="email"
                            value="<%= user.email %>"
                            name="email"
                        />
                    </div>

                    <input type="submit" class="btn-save" value="Confirm" />
                </fieldset>
            </form>
        </div>
    </body>
</html>
