<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello world</title>
</head>
<body>      
    <h2>Xuan Truong is learning NodeJS</h2>
    <img src="/images/dekt2.jpg" class="dethiktr2" alt="" srcset="">   
</body>
</html>